* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --color-principal: rgb(61, 61, 61);
    --color-secundario: rgb(204, 204, 204);
    --acento: rgb(245, 211, 16);
    --transparencia: rgba(61, 61, 61, 0.8);
}

body {
    margin-top: 100px; 
}

main.conteiner {
    width: 95%;
    margin: 0 auto;
    background: pink;
}

h1 {
    text-align: center;    
}

@media screen and (min-width: 768px) {
    /* breakpoint para tablet */
   }
   
@media screen and (min-width: 1024px) {
    /* breakpoint para pc */
    max-width: 1000px;
}