.reserva {
    width: 100%;
    height: 100vh;
    margin: -20px auto;
    background-image: url(../images/slide3.jpg);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.res {
    width: 95%;
    margin: 0 auto;
    /* background: var(--transparencia); */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tit_reserva {
    color: var(--acento);
    text-shadow: 2px 2px 5px #000;
    font-size: 1.8em;
    padding: 15px;
}

.txt_reserva {
    color: var(--color-secundario);
    text-shadow: 2px 2px 5px #000;
    font-size: 1.5em;
    padding: 0;
    text-indent: 0;
    text-align: center;
}
.regalos {
    color: var(--color-secundario);
    text-shadow: 2px 2px 5px #000;
    font-size: 1em;
    padding: 0;
    text-indent: 0;
    text-align: center;
}

.alta {
    color: var(--color-secundario);
    text-shadow: 2px 2px 5px #000;
    font-size: 1em;
    padding: 0;
    text-indent: 0;
    text-align: center;
}

.formulario {
    width: 95%;
    max-width: 380px;
    border: 2px solid var(--color-secundario);
    background: var(--transparencia);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.form label {
    color: var(--color-secundario);
    margin-top: 15px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 5px #000;
}

.form input, .form select {
    padding: 8px;
    border-radius: 5px;
    border:0;
    background: rgba(255, 255, 255, .7);
}
.fecha-hora-local{
    width: 100%;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.datos-persona label, .datos-persona input{
    display: block;
    width: 100%;
}
.cantidad {
    width: 100%;
    margin: 15px auto;
    
}
.btn-reservas {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color-secundario);
    background: var(--color-principal);
    color: var(--acento);
    border-radius: 8px;
    margin-top: 15px;

}

.promos {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.promos label {
    padding: 0;
    margin: 0 5px;
}

.resp-form, .resp-form-correo {
    color: red;
    font-weight: bolder;
    text-align: center;
}

@media screen and (min-width: 768px) {
    /* breakpoint para tablet */
    .res {
        flex-direction: row;
        justify-content: space-evenly;
        /* align-items: center; */
    }
}
